@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background: url('./Assets/Background.png')  center center/cover ;
    font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: rgb(209, 38, 38);
  position: relative;
}
a::after{
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  background-color: rgb(245, 65, 65);
  left: 0;
  top: 1.4rem;
  transition: width .3s,left .3s;
  left: 50%;
}
a:hover::after{
  width: 100% !important;
  left: 0%;
}